<div class="card" bg-img src="https://unsplash.com/photos/iusJ25iYu1c" >
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="https://unsplash.com/photos/iusJ25iYu1c"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Unite Mashigo</h3>
      </div>
    </div>
  </div>
</div>